@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gud Records!</h1>
    <p>Are you suffering? Do you hate your life? Well why not smother your sorrows in self-indulgently buying music?
    Everyone's saying vinyls are the new thing. You should buy a record of your favorite 80's pop record and 
    listen to it on a turntable! That will make your problems go away for at least an hour! Go fuck yourself!
    </p>
</div>
