@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gud Records!</h1>
    <p>Are you suffering? Do you hate your life? Well why not smother your sorrows self-indulgently buying music?
    Imagine: You've been staring at a computer screen all day. You've never coded before and all of a sudden you're
    tasked with making a website for a fake store that you just made up. You can't quit because you don't want to go back
    to making iced white mochas with extra caramel drizzles topped with sweet cream foam for annoying, TikTok-crazed, white
    teenage girls. But you need to destress. You take out your copy of Stevie Wonder's "In Square Circle" so you can vibe out
    to "Never In Your Sun," which when playing, dresses itself with your record player's crackling. You open the windows.
    It's sunny outside. When was the last time you went outside?</p>
    <p>For an hour, you forget about life.</p>
    <p>Gud Records. We can give you that experience.</p>
    <img src="https://i.pinimg.com/originals/d8/96/e0/d896e0c35cfbdd6a72b0f0a16185357c.jpg" />
